<!DOCTYPE html>
<html>
  <head>
    <% include partials/templates/head.ejs %>
  </head>
  <body>
    <% include partials/templates/header.ejs %>
    <% include partials/content/eventsList.ejs %>
    <% include partials/templates/footer.ejs %>
  </body>
</html>
