<footer class="grid-12">
  <div class="footerLogo grid-2 grid-offset-2">
    <h4>SU</h4>
    <h4>RF.</h4>
  </div>
  <div class="grid-3 grid-offset-4 grid-3-md grid-offset-3-md">
    <ul>
      <li>
        <p>Events</p>
      </li>
      <li>
        <a href="/events"><span>Bell Beach</span></a>
      </li>
      <li>
        <a href="/events"><span>Ulu Watu</span></a>
      </li>
      <li>
        <a href="/events"><span>San Clemente</span></a>
      </li>
      <li>
        <a href="/events"><span>Taghazout</span></a>
      </li>
    </ul>
    <ul class="hide-md">
      <li>
        <p>Social</p>
      </li>
      <li>
        <a href="/contact"><span>Contact Us</span></a>
      </li>
      <li>
        <a href="http://twitter.com"><span>Twitter</span></a>
      </li>
      <li>
        <a href="http://facebook.com"><span>Facebook</span></a>
      </li>
      <li>
        <a href="http://instagram.com"><span>Instagram</span></a>
      </li>
    </ul>
  </div>
</footer>
