<title><%= title %></title>

<link rel='stylesheet' href='../stylesheets/style.css' />
<link rel='stylesheet' href='../stylesheets/grid.css' />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/0.7.0/hamburgers.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXav5YuiZBRBPXRIhjeDbet_c7H6Ge4V0&callback=init"></script>
<script src="../javascripts/animateNums.min.js"></script>
<script src="../javascripts/map.js"></script>
<script src="../javascripts/menu.js"></script>
<script src="../javascripts/animate.js"></script>
