<section class="contactForm grid-12">
  <div class="grid-10 grid-offset-2">
    <h2> CONTACT US </h2>
    <input type="email" placeholder="example@email.com"/>
    <br/>
    <textarea placeholder="Your enquiry."></textarea>
    <br/>
    <button href="/email" type="submit">SEND</button>
  </div>
</section>
