<section class="events grid-12">
  <div class="fade grid-3 grid-6-md grid-12-sm">
    <img src="../images/bellbeachCircle.png">
    <h3>BELL BEACH</h3>
    <p>2462 Attending</p>
  </div>
  <div class="fade grid-3 grid-6-md grid-12-sm">
    <img src="../images/uluwatuCircle.png">
    <h3>ULU WATU</h3>
    <p>342 Attending</p>
  </div>
  <div class="fade grid-3 grid-6-md grid-12-sm">
    <img src="../images/sanclemCircle.png">
    <h3>SAN CLEM</h3>
    <p>3523 Attending</p>
  </div>
  <div class="fade grid-3 grid-6-md grid-12-sm">
    <img src="../images/taghazoutCircle.png">
    <h3>TAGHAZOUT</h3>
    <p>564 Attending</p>
  </div>
</section>
