<section class="eventsList grid-12">
  <div class="grid-8 grid-offset-2 grid-12-md grid-no-offset-md">
    <h2 class="grid-offset-2-md">EVENTS</h2>
    <div class="fade place grid-8 grid-12-md">
      <div class="grid-6">
        <img src="../images/bellbeachCircle.png">
      </div>
      <div class="grid-6">
        <article class="grid-12">
          <h3>BELL BEACH</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </article>
        <div class="grid-6">
          <p><span id="bell">0</span> Attending</p>
        </div>
        <div class="grid-6">
          <button>BUY TICKETS</button>
        </div>
      </div>
    </div>
    <div class="fade place grid-8 grid-offset-4 grid-12-md grid-no-offset-md grid-no-offset-sm">
      <div class="grid-6">
        <img src="../images/uluwatuCircle.png">
      </div>
      <div class="grid-6">
        <article class="grid-12">
          <h3>ULU WATU</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </article>
        <div class="grid-6">
          <p><span id="ulu">0</span> Attending</p>
        </div>
        <div class="grid-6">
          <button>BUY TICKETS</button>
        </div>
      </div>
    </div>
    <div class="fade place grid-8 grid-12-md">
      <div class="grid-6">
        <img src="../images/sanclemCircle.png">
      </div>
      <div class="grid-6">
        <article class="grid-12">
          <h3>SAN CLEMENTE</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </article>
        <div class="grid-6">
          <p><span id="san">0</span> Attending</p>
        </div>
        <div class="grid-6">
          <button>BUY TICKETS</button>
        </div>
      </div>
    </div>
    <div class="fade place grid-8 grid-offset-4 grid-12-md grid-no-offset-md grid-no-offset-sm">
      <div class="grid-6">
        <img src="../images/taghazoutCircle.png">
      </div>
      <div class="grid-6">
        <article class="grid-12">
          <h3>TAGHAZOUT</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </article>
        <div class="grid-6">
          <p><span id="tag">0</span> Attending</p>
        </div>
        <div class="grid-6">
          <button>BUY TICKETS</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="grid-3 grid-6-md grid-12-sm">
    <img src="../images/uluwatuCircle.png">
    <h3>ULU WATU</h3>
    <p>674 Surfers</p>
  </div>
  <div class="grid-3 grid-6-md grid-12-sm">
    <img src="../images/sanclemCircle.png">
    <h3>SAN CLEM</h3>
    <p>3472 Surfers</p>
  </div>
  <div class="grid-3 grid-6-md grid-12-sm">
    <img src="../images/taghazoutCircle.png">
    <h3>TAGHAZOUT</h3>
    <p>321 Surfers</p>
  </div> -->
</section>
