<section class="fade join grid-12">
  <article class="grid-4 grid-offset-2">
  <h2>JOIN US</h2>
  <p>Join us at any of the four events hosted across the globe.
    From Bell Beach in Australia to Taghazout in Morocco weekend long competitions and festivals have been set up for all those who love to surf and party hard.
    A plethora of famous surfers are sure to be at several of the events.
    The likes of Kelly Slater, Greg Cipes, Stacy Peralta and Miki Dora could be ripping tides along with you.
    Head over to the events section for more info. </p>
  </article>
  <div class="surfer grid-6 hide-md hide-sm">
    <img src="../images/surferLarge.png" />
  </div>
</section>
